<div class="menu">
  <br>
  <h3 class="title">{{title}}</h3>
  <br>
  <br>

  <div class="btn-group-vertical">
    <button class="btn btn-secondary btn-lg" routerLink="/weightworkout" routerLinkActive="active"><b>Styrke</b><span class="glyphicon glyphicon-chevron-right"></span> </button>
    <button class="btn btn-secondary btn-lg" routerLink="/cardioworkout" routerLinkActive="active"><b>Kardio</b><span class="glyphicon glyphicon-chevron-right"></span></button>
    <button class="btn btn-secondary btn-lg" (click)="digg()"><b>Statestikk</b><span class="glyphicon glyphicon-chevron-right"></span></button>
    <button class="btn btn-secondary btn-lg"><b>Profil</b><span class="glyphicon glyphicon-chevron-right"></span></button>
    <button class="btn btn-secondary btn-lg" routerLink="/login" routerLinkActive="active"><b>Logg inn</b><span class="glyphicon glyphicon-chevron-right"></span> </button>
  </div>
</div>
